---

---

<div
  class="terminal-panel hidden lg:block"
  style="border-radius: 0; margin: 0; border-bottom: 0; border-top: 0; border-right: 0;"
>
  <div class="tbar">
    <span>author@skills.re ~ %</span>
    <span>one-line publish</span>
  </div>
  <pre><span class="m1"># one-line publish from your terminal</span>
<span class="p1">$</span> <span class="k1">skr init</span> my-skill
<span class="p1">$</span> <span class="k1">skr add</span> ./skill.md
<span class="p1">$</span> <span class="k1">skr eval</span>  <span class="m1"># run acceptance evals</span>
<span class="p1">$</span> <span class="k1">skr sign</span>  <span class="m1"># pgp sign the release</span>
<span class="p1">$</span> <span class="k1">skr publish</span> --registry skills.re

<span class="m1"># or fill out the form below</span><span class="cursor-blink" /></pre>
</div>
